body{
    background-color: black;
}
.sub{
    color: white;
    text-align: center;
}
.logo{
     margin-left: 29%;
}
.nomes {
    color: #1E90FF;
    display: flex;

}
.S {
    display: flex;
    margin-left: 80%;
}

.G{
    margin-left: 5%;
}
.ima {
    display: flex;
}
.s {
    margin-left: 55%;
}
.subt{
    display: flex;
    color: #1E90FF;
}
.gip {
    margin-left: 5%;
}
.str{
    margin-left: 62%;
}
.final {
    color: #1E90FF;
    margin-left: 5%;
    margin-top: 5%;
}
.roda{
    color: white;
    display: flex;
    margin-left: 40%;
}